@media all and (min-width: 35em) {
  #wallet-menu.active {
    width: min(15em, 30vw);
  }
  #wallet-title-section>:global(.hamburger-menu){
    display: inherit;
  }
}

@media all and (min-width: 45em) {
  #wallet-menu, #wallet-menu.active {
    width: min(15em, 30vw);
  }
  .top-bar #wallet-title-section>:global(.hamburger-menu){
    display: none;
  }
}

