// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
$primary: #006e54;
$dark: #003d2f;
$font-family-sans-serif: "Public Sans";
$font-family-base: "Public Sans";

$theme-colors: (
  "primary": #006e54,
  "danger": #ff4136,
);

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --font-family: "Public Sans", sans-serif;
  --primary-color: #{$primary};
  --dark-color: #{$dark};
}

body {
  background-color: #f8fbf8;
  font-family: "Public Sans";
  letter-spacing: -0.02em;
}

html {
  font-size: 90%;
}
