// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
$primary: #006e54;
$dark: #003d2f;

$theme-colors: (
  "primary": #006e54,
  "danger": #ff4136,
);

@import "../node_modules/bootstrap/scss/bootstrap";

:global(:root) {
  --font-family: "Public Sans", sans-serif;
  --primary-color: "#006e54";
}

:global(*) {
  font-family: var(--font-family);
  letter-spacing: -0.02em !important;
}

.font-rubik {
  font-family: "Rubik" !important;
}
