@use 'sass:color';




$primary: #006e54;
$secondary: #a5d6a7;
$surface: #fff;
$background: #fff;
$error: red;

html,
body {
  background-color: $surface;
  // color: $on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

* {
  font-family: var(--font-family) !important;
}
